@import "/src/assets/styles/variables";

.commentCounter {
  color: red;
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.select {
  position: relative;
}

.dropdown {
  position: absolute;
  box-shadow: 0 0 10px 5px $bg-block;
  background-color: $white;
  cursor: pointer;
  width: 250px;
  & > li {
    padding-left: 20px;
    width: 100%;
  }
}