@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$default-font: 'Inter', sans-serif;

$white: #fff;
$black: #000;
$blue: #122ac0;
$bg-block: #d9d9d9;
$red: #ff0000;
$green: #8ac540;
