.controlPanel {
  display: flex;
  gap: 30px;
  margin-left: 5%;
  height: 100px;
  align-items: center;
}

.addCommentForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 65px 0;
  width: 100%;
}

.comments {
  height: 100vh;
}